<ion-content>
    <div id="header">
        <div id="app-bar">
            <ion-icon name="arrow-back" routerLink="/welcome"></ion-icon>
        </div>
        <div id="logo">
            <img src="../../assets/icon/clinica.png" alt="">
        </div>
        <h2>Aplicación!</h2>
    </div>
    <ion-card>
        <ion-card-content>
            <h1>Bienvenido a la aplicación</h1>
            <p>Descubre el impresionante mundo alrededor de ti. </p>
            <ion-button expand="block" routerLink="/log-in">Entrar</ion-button>
            <ion-button expand="block" fill="outline">Registrarse</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>