<ion-content class="ion-padding ion-text-center">
    <div class="container">
        <div class="page-header">
            <h1>Bienvenido a DocAPP!</h1>
            <h3>Te invitamos a explorar nuestra nueva aplicación!</h3>
        </div>
        <img src="../../assets/icon/user.png">
        <div class="button-container">
            <ion-button expand="block" class="main-button" routerLink="/log-in" routerDirection="forward">Entrar</ion-button>
            <ion-button class="btnS" expand="block" fill="clear" routerLink="/sign-up" routerDirection="forward">Registrarse</ion-button>
        </div>
    </div>
</ion-content>